<div class="container" style="max-width:600px;height:90vh;">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12 text-center">
      <h1>Don't be naughty...</h1>
      <p class="lead">You must be up to no good... We can't find the thing you're looking for, or you aren't authorized to view it.</p>
      <p class="lead">Who knows? Maybe something broke. Either way, I don't feel like telling you.</p>
      <a href="/notadmin">This link is none of your business. Don't click it.</a>
    </div>
  </div>
</div>