<div class="container" style="max-width:600px;height:90vh;">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12">
      <h1>Welcome to FoxDen, <%= @username %>!</h1>
      <p>Congratulations on your arrival to the final part of the FoxBadge Challenge!</p>
      <p>
        I'm gonna be honest with you, this app was designed to make you cry.
        If you do, no one will judge you (Okay, maybe Cory will).
        I hope you like false hope, because you'll find plenty of it here.
        If you don't hate me already
        (Don't worry, I'm not as bad as that steganograpghy obsessed bastard),
        you probably will by the time you finish this challenge.
        You'll probably find lots of vulnerabilities in this app.
        We know about them, and they won't help you.
        But you'll try them anyways, dreading the possibility of a dead end,
        because "Who knows, right?".
        At the same time, who knows?
        Maybe you'll lose some hair trying to figure this out.
        Maybe you'll wreck my beautiful masterpiece in 5 minutes (That would make me sad &#x1F622).
      </p>
      <p>Welcome to FoxDen, and best of luck!</p>
      <h4>-Gabe Rust</h4>
      <p>PS: Plz don't hack my life. : )</p>
    </div>
  </div>
</div>